.background
 img(src="https://dl.dropbox.com/s/496ga9zzrvoyz2l/CIMG4319.JPG?dl=0")
.cardBottom
  //- input.txt(type="text" value="0")
  .card 
    .txt Taitung Duoliang 
    img(src="https://dl.dropbox.com/s/496ga9zzrvoyz2l/CIMG4319.JPG?dl=0", alt="")
    
    
